body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

button {
    color: #F9FAF8;
    background: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    border: solid;
    font-weight: bold;
    font-size: 16px; 
}

.header-button {
    border-color: #3882F6;
}

.header-nav, .header-content{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-self: center;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: row;
    gap: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 100px;
}

.placeholder-image, .header-small-text, .cta-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main-text, .cta-main-text {
    font-size: 48px;
    font-weight: Bold;
    color: #F9FAF8
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 280px;
    width: 500px;
}


.left-header-content{
    max-width: 400px;
} 

.right-header-content {
    max-width: 500px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.content-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.boxes{
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.boxes {
    gap: 50px;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 0.5em;
}

.content-text {
    max-width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px 350px;
}

.quote-text, .quote-person {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.quote-person {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.cta {
    background-color:#3882F6;
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    border-radius: 10px;
    padding: 50px;
}

.cta-main-text {
    font-size : 36px;
}

.cta-right {
    display: flex;
    align-items: center;
    
}

.footer {
    background-color: #1F2937;
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    padding: 50px;
}